In [3]:
import pandas as pd

## PROFIT / LOSS Calculator

### OPTION 1

In [4]:
days = [1,2,3,4,5]
prices = [50,50,55,65,45]
shares = 10
def prof_loss(days, price, share):
    df = pd.DataFrame({'Days':days, 'Prices': prices, 'Shares': shares})
    df['Costs'] = df.Prices * df.Shares
    
    prof_loss = []
    for i in range(len(df)):
        prof_loss.append(df.Costs.iloc[i]-df.Costs.iloc[0])
    df['Profit/Loss'] = prof_loss
    return df

In [5]:
prof_loss(days,prices,shares)

   Days  Prices  Shares  Costs  Profit/Loss
0     1      50      10    500            0
1     2      50      10    500            0
2     3      55      10    550           50
3     4      65      10    650          150
4     5      45      10    450          -50

### OPTION 2

In [9]:
def prof_loss():
    days = [1,2,3,4,5]
    prices = [50,50,55,65,45]
    shares = 10
    df = pd.DataFrame({'Days':days, 'Prices': prices, 'Shares': shares})
    df['Costs'] = df.Prices * df.Shares
    
    prof_loss = []
    for i in range(len(df)):
        prof_loss.append(df.Costs.iloc[i]-df.Costs.iloc[0])
    df['Profit/Loss'] = prof_loss
    return df

In [10]:
prof_loss()

   Days  Prices  Shares  Costs  Profit/Loss
0     1      50      10    500            0
1     2      50      10    500            0
2     3      55      10    550           50
3     4      65      10    650          150
4     5      45      10    450          -50